// COLORS
// :root {
//   --color-black: #000;
//   --color-white: #fff;
// }

$transition: .5s;

$color-main: #000;
$color-secondary: #ffa800;
$color-third: #fff;
$color-drop-down-item: #7a7a79;
$color-drop-down-list: #121212;
$color-about-us-item: #f4f4f4;
